* {
  box-sizing: border-box;
}
body{
  font-family: "Gowun Dodum", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
  width: 100vw;
  height: 100vh;
  margin-right: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
}

header > h1{
  text-align: center;
  font-size: 4rem;
  margin: 0;
  padding: 1.5rem;
  background-color: #dc2f02;
  color: aliceblue;
}

#search {
  padding: 0.5rem;
  text-align: right;
}

#content {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* width: auto; */
}

.sidebar {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 10%;
  margin-right: 2rem;
}

.sidebar > label > button >  a {
  text-decoration: none;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width:90%;
  height: auto;
  /* overflow: hidden; */
  align-items: center;
  justify-content: center;
  
}

.template {
  border: 1px solid #dc2f02;
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 500px;
  margin: 0.9rem;
  padding: 0.3rem;
}

.template > span {
  padding: 0.4rem;
}

.template > h3 {
  background-color: #f95738;
  color: #f8edeb;
  font-size: 2rem;
  flex: 0.5; 
  margin: 0;
  padding: 0.4rem;
}

.template > p:first-of-type{
 margin: 0;
 /* background-color: #f8edeb; */
 font-size: 1.2rem;
 flex: 0.3;
 padding: 0.4rem;
}

.template > p:last-of-type {
  /* background-color: #f8edeb; */
  margin: 0;
  flex: 1;
  font-size: 1rem;
  padding: 0.4rem;
  
}

#templateImage {
  display: flex;
  justify-content: center;  
  align-items: center;
  height: 50%;
  overflow: hidden;
  /* background-color: #f8edeb; */
  
}
#templateImage > img {
  width: 100%;
  height: 100%;
}

.template > span:last-child {
  display: block;
  font-size: small;
  text-align: right;
  font-style: oblique;
  padding-bottom: 0;
  margin-bottom: 0;
}

#pageBtn {
  text-align: center;
  justify-content: center;
  bottom: 0;
}