* {
  box-sizing: border-box;
}
body{
  font-family: "Gowun Dodum", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
  width: 100vw;
  height: 100vh;
  margin-right: 2rem;
  padding-right: 2rem;
}

header > h1{
  text-align: center;
  font-size: 4rem;
  margin: 0;
  padding: 1.5rem;
  background-color: #dc2f02;
  color: aliceblue;
}

#search {
  padding: 0.5rem;
  text-align: right;
}

#content {
  display: flex;
  width: 100vw;
  height: 100vh;
  width: auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 10%;
}

/* .sidebar > label > button {
  border-radius: 10px;
  border: 1px solid #ee964b;;
  background-color: #efefd0;
  width: 100px;
} */

.sidebar > label > button >  a {
  text-decoration: none;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width:90%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  
}

.template {
  border: 1px solid aquamarine;
  width: 380px;
  height: 460px;
  margin: 0.9rem;
}

#pageBtn {
  text-align: center;
}


