header {
  border: 1px solid black;
}

header > h1{
  border: 1px solid red;
}

#sidebar {
  border: 1px solid purple;
}

#container {
  border: 5px solid black;
}

.template {
  border: 1px solid yellow;
}

#pageBtn {
  border: 1px solid purple;
}