* {
  box-sizing: border-box;
}
body{
  font-family: "Gowun Dodum", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
  width: 100vw;
  height: 100vh;
  margin-right: 2rem;
  padding-right: 2rem;
}

header > h1{
  text-align: center;
  font-size: 4rem;
  margin: 0;
}

#search {
  padding: 0.5rem;
  text-align: right;
}

#content {
  display: flex;
  width: 100vw;
  height: 100vh;
  width: auto;
}

#sidebar {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 10%;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width:90%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  
}

.template {
  border: 1px solid aquamarine;
  width: 380px;
  height: 460px;
  margin: 1rem;
}

#pageBtn {
  text-align: center;
}


